.sliderComponent {
  padding: 30px;
}

.sliderComponent__title {
  text-align: justify;
  display: block;
  color: #3c4044;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  margin-bottom: 20px;
}

.slick-prev:before, .slick-next:before  {
  color: #3c4044 !important; 
}

@media screen and (min-width: 768px) {
  .sliderComponent {
    padding: 20px 50px;
  }
}

@media screen and (min-width: 1025px) {
  .sliderComponent {
    padding: 20px 300px;
  }
}