.textMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.mediaItem {
  display: none;
}

@media screen and (min-width: 768px) {
  .textMedia {
    margin: 50px 0;
    min-width: 40vw;
  }
  
  .textItem {
    margin: 0 5vw  0 5vw;
    min-width: 40vw;
  }

  .mediaItem {
    display: block;
    margin: 0 5vw  0 5vw;
    min-width: 40vw; 
  }
}

@media screen and (min-width: 1025px) {
  .textMedia {
    margin-top: 50px;
    min-width: 40vw;
  }
  
  .textItem {
    margin: 0 5vw 0 5vw;
    width: 40vw;
  }

  .mediaItem {
    display: block;
    margin: 0 5vw  0 5vw;
    min-width: 40vw;
  }
}