.textMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.mediaItem {
  display: none;
}

@media screen and (min-width: 768px) {
  .textMedia {
    margin: 50px 0;
  }
  
  .textItem {
    margin: 0 20px;
  }

  .mediaItem {
    display: block;
    margin: 0 20px; 
  }
}

@media screen and (min-width: 1025px) {
  .textMedia {
    margin-top: 50px;
  }
  
  .textItem {
    margin: 0 50px 0 0px;
  }

  .mediaItem {
    display: block;
    margin: 0 100px 0 0px;
  }
}